<!DOCTYPE html>
<html>
<head>
    <title>Sacred Art Presents | Few Remaining Friends by Julie R. Madison</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
  <link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel=stylesheet>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <style type="text/css">
    body {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        background-color: #FFFFFF;
    }
    body.dark-mode {
        background-color: #000000;
    }
    .container {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 15px;
    }
    body.dark-mode h2, body.dark-mode p {
        color: #FFFFFF;
    }
    .btn-secondary {
        background-color: #000000;
        color: #FFFFFF;
        margin-bottom: 10px;
    }
    body.dark-mode .btn-secondary {
        background-color: #FFFFFF;
        color: #000000;
    }
    body.dark-mode .btn-secondary {
        background-color: #FFFFFF;
        color: #000000;
    }
    body:not(.dark-mode) .btn-secondary:hover {
        color: #FFFFFF;
    }
    @media (max-width: 767px) {
        .body {
            height: 100vh;
        }
    }
  </style>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
</head>
    <body class="<%= @dark ? 'dark-mode' : '' %>">
        <div class="container">
            <%= image_tag("event_logo.gif", :alt => "Few Remaining Friends", :class => "img-responsive hidden-xs") %>
            <%= image_tag("event_logo-mobile.gif", :alt => "Few Remaining Friends", :class => "img-responsive visible-xs") %>
            <div>
                <h2>NEW EXHIBITION FROM JULIE R. MADISON</h2>
                <p>Otherworldly creatures that tap into our primal, naturalistic side, eliciting the emotions therein.</p>
                <h2>OPENING NIGHT RECEPTION</h2>
                <p>Friday, October 11th, 6 - 10pm</p>
                <h2>SACRED ART</h2>
                <p>4619 North Lincoln Ave, Chicago IL</p>
                <ul class="list-inline">
                    <li>
                        <a class="btn btn-secondary" target="_blank" href="https://www.facebook.com/events/1199517063506075/">RSVP on Facebook</a>
                    </li>
                    <li>
                        <a class="btn btn-secondary" target="_blank" href="https://www.eventbrite.com/e/few-remaining-friends-opening-night-tickets-68816276335">RSVP on Eventbrite</a>
                    </li>
                    <li>
                        <a class="btn btn-secondary" href="/index">Continue to site</a>
                    </li>
                </ul>
            </div>
        </div>
        <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    
        ga('create', 'UA-22905850-1', 'auto');
        ga('send', 'pageview');
    
    </script>
    </body>
</html>
